@import "./font_regular.css";
@import "./font_medium.css";

body {
  margin: 0px;
}

body * {
  font-family: HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif !important;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/*滚动条里面小方块*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border: 1px solid transparent;
}

/*滚动条里面轨道*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
